body {
  margin: 0;

  font-family: Candara, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
  font-family: inherit !important;
  font-size: 1em;
}

ul, li {
  list-style-type: none;
  padding: 0;
}
