.list {
    height: 200px;
    min-width: 500px;
    overflow: auto;
    border: 1px solid black;
    background: #ddd;
    color: black;
    padding: 0.5em;
}


/* Medium devices (desktops, 768px and up) */
@media (max-width: 768px) {
    .list {
        min-width: auto;
        width: calc(100% - 1em);
        margin: 0.5em;
        box-sizing: border-box;
    }    
}